---
layout: markdown_page
title: Jobs
description: Browse job openings at GitLab and apply to join a very productive, ambitious team, where independence and flexibility are both valued and required.
---

## On this page
{:.no_toc}

- TOC
{:toc}


<a name="no-recruiters"></a>
## We don't accept solicitations by recruiters

We do not accept solicitations by recruiters, recruiting agencies, headhunters and outsourcing organizations.
If you email us we'll reply with [a link to this paragraph](/jobs/faq/#no-recruiters) to indicate we would very much appreciate it if you stop emailing us and remove us from any marketing list.

## Country Hiring Guidelines

At GitLab, we hire people from all over the world and all walks of life.
Diversity is one of our main core values regardless of race, gender and ethnicity.
However, with being a [remote only company](/company/culture/all-remote/) we face challenges as it pertains to hiring in certain countries.
Each country has unique and complex rules, laws and regulations, which can affect us to conduct business, as well as the employability of the citizens of those countries.
Therefore, at this time we are unable to hire employees and contractors in the specified countries below.
With that said, we are growing rapidly and continuously expanding our hiring capabilities in other geographies.
We encourage you to continue to check our handbook as we establish presences in other countries.


<% data.country_no_hire.sort.each_with_index do |country_name, i| %>
  <%= country_name %><%= ',' unless data.country_no_hire.count == i + 1 %>
<% end %>


In countries listed in our [contract_types.yml file](https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/data/contract_types.yml), we have a payroll and can employ you as an employee. In all other countries we can, hire you as a contractor.


