---
layout: default
title: GitLab for education
suppress_header: true
extra_css:
  - sales-and-free-trial-common.css
  - faq.css
extra_js:
  - faq.js
---

.wrapper
  .simple-header
    %h1 Education
  .centered-form
    .font-regular.margin-top40
      %p Educational institutions around the world use GitLab widely, and our top tiers (Gold and Ultimate) are free for education. We want students to use our most advanced features, so they can take that experience to their future workplaces.
      %h3
        %strong
          What are GitLab Ultimate and GitLab Gold?
      %p
        %a{ href: "/pricing" } GitLab Ultimate and Gold
        are our most comprehensive offerings. GitLab Ultimate is self-hosted, whereas GitLab Gold is our SaaS offering hosted on GitLab.com.
      %h3
        %strong
          Education Program requirements
      %p
        Any institution whose purposes directly relates to learning, teaching, and/or training may qualify. Educational purposes do not include commercial, professional, or any other for-profit purposes (
        %a{ href: "/terms/#edu-oss" } full Education terms
        ).
      %p We're able to provide only one license per educational institution (Gold or Ultimate). This means that applications for single departments or teams won't be accepted. Please take this into consideration when applying and make sure there are enough seats for all departments that might be interested in this program.
      %p The number of seats - the number of different users that will use this license in the next year
      %h3
        %strong
          Support note
      %p Free GitLab Ultimate and Gold accounts do not include support. However, you can purchase support for 95% off, at $4.95 per user per month.
      %h3
        %strong
          Can students apply?
      %p Not directly. In order to reduce the administrative burden for GitLab, only educational institutions can apply on behalf of their students. Every student's application will, therefore, be rejected.
      %p If you're a student and your educational institution does not apply, you can still use public projects on GitLab.com with all functionality, or private projects with the free functionality.
      %h3
        %strong
          Application process
      %p To apply, please fill out the form below. Once you sign the quote that you'll receive shortly, the EULA will be automatically sent to the email you enter in the application form. When you accept it, you’ll receive the license key (for Ultimate), or further instructions on how to authenticate your groups (for Gold).
      %p These licenses need to be renewed annually.
      %h3
        %strong
          Questions?
      %p
        If you have any other questions regarding the GitLab Education Program, feel free to reach us at
        %a{ href: "mailto:education@gitlab.com", target: "_blank" } education@gitlab.com


    %script{ src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js" }
    %form#mktoForm_1659
    :javascript
      MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1659, function(form) {
        form.onSuccess(function() {
          form.getFormElem().hide();
          $('.confirmform').attr('style', 'visibility: visible');
          return false;
        });
      });
    .confirmform{ style: "visibility:hidden;" }
      %h3 Submission received!
      %p We will be in touch soon.
    %br/
    %br/
    
  #education-q-a.content-container.animated
    .container
      %h2.faq-title.light.text-center
        Frequently Asked Questions
      .faq-holder.clearfix
        %ol.faq-container.list-unstyled
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Where are the GitLab servers located?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p We don’t have regional or configurable storage. All of the GitLab.com data is currently stored in the US.
          %li#edu-question-2.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Is it possible to authenticate users via LDAP over SSL?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p It isn't possible on GitLab.com, but it is possible on the self-hosted version. The server doesn't strictly need a static IP, as a DNS name can be used for the LDAP server.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Is there a migration path from an on-premises installation of GitLab to GitLab.com?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p Yes, you can find more information on <a href="https://docs.gitlab.com/ee/user/project/import/#migrating-from-self-hosted-gitlab-to-gitlab-com">migrating from self-hosted GitLab to GitLab.com</a>.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Along with teaching, can the educational institution license also be used for our internal IT department?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p The education license is only for the purposes of educating students and can be used by students and the teachers providing the education. Staff not directly responsible for teaching the students using GitLab would not qualify for the education license - it would fall under the "professional" exclusion.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Are modifications to the EULA allowed?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p If you’d like to propose changes to our EULA, please send a document with those changes, and our legal team will review them.
        %ol.faq-container.list-unstyled
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Can I first upgrade a test instance to see how GitLab is working with the Ultimate license?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p You can sign up for our <a href="https://about.gitlab.com/free-trial/">Ultimate or Gold 30 days trials</a> to test our top tiers. An Ultimate license can be used on multiple instances.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                What happens after the one year contract?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p This license needs to be renewed annually, but it will still be free. You will receive e-mail notifications with instructions for the renewal process a few months before your subscription expires.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                Does the Ultimate license for open-source projects also allow for private projects along with the open-source ones?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p GitLab OSS license can be used only for the project it was approved for.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                If the Education program were to end, what would our migration path be to go back to the community edition?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p There are no plans to end the Education program, but in any case you can follow <a href="https://docs.gitlab.com/ee/downgrade_ee_to_ce/">these steps to downgrade from Enterprise edition to our Community edition</a>.
          %li.faq-item
            .faq-inner-item
              %a.faq-question.js-faq-question{ href: "#" }
                If we were to end up with more seats than initially agreed, would we be charged for them?
                %i.fa.fa-angle-down.pull-right
              .faq-answer
                %p If you want to increase the number of seats on your existing license, please send an email to education@gitlab.com, and we’ll prepare an add-on quote for additional seats.

