---
layout: default
title: Resources
suppress_header: true
description: The list of available resources such as whitepapers, webinars, etc.
extra_css:
  - resources.css
extra_js:
  - libs/select2.min.js
  - resources.js
extra_font:
  - Roboto+Slab
---
- resources = data.resources
.wrapper
  .asset-hero
    .container
      .row
        .col-md-3.hidden-sm.hidden-xs.asset-hero-media
          = image_tag "/images/webcast/gruver-cover_2x.jpg", alt: "Starting and Scaling DevOps in the Enterprise"
          -# = image_tag "/images/sample-asset-wide.png", alt: "Asset Image"

        .col-md-9
          %h1 Starting and Scaling DevOps in the Enterprise
          %h2 Sharing his pioneering insight on how organizations can transform their software development and delivery processes, Gary Gruver provides a tactical framework to implement DevOps principles.

          .btn-group
            %a.btn.cta-btn.accent{ href: '/resources/scaling-enterprise-devops/' }
              Download

  .toc-links
    %a{ href: "/blog/" } Blog
    %a{ href: "/contact/" } Newsletter
    %a{ href: "/events/" } Events
    %a{ href: "/topics/" } Topics
    %a{ href: "/training/" } Training
    %a{ href: "https://docs.gitlab.com/", target: "_blank" } Docs
    %a{ href: "/install/" } Install
    %a{ href: "/roi/" } ROI
    %a{ href: "/webcast/" } Webcasts

  #content
    .container
      .row
        .col-md-10.col-md-offset-1
          %p.intro All the resources you need to take your idea to production. Learn Git, improve your DevOps workflow, or discover new trends with GitLab.
      .row
        .col-md-12.resources-filter
          - topics = resources.collect{ |r| r.topics }.flatten.uniq.sort
          - types = resources.collect{ |r| r.type }.flatten.uniq.sort
          - solutions = resources.collect{ |r| r.solutions }.flatten.uniq.compact.sort

          %select.btn{ name: "resource_topic" }
            %option{ value: "" } Any topic
            - topics.each do |topic|
              %option
                = topic

          %select.btn{ name: "resource_type" }
            %option{ value: "" } Any type
            - types.each do |type|
              %option
                = type

          %select.btn{ name: "resource_solution" }
            %option{ value: "" } Any solution
            - solutions.each do |solution|
              %option
                = solution

      .row
        .col-md-12
          %h3.resources-no-results-msg.js-resources-no-results-msg.hidden There are no results for your filter.

      .row
        .col-md-12.u-margin-bottom-lg
          .resource-tile-group
            - resources.each do |resource|
              %a.resource-tile.tile.animation--tile.js-resource-tile{ href: resource.url, 'data-resource-topics' => '||' + resource.topics.join('||') + '||', 'data-resource-type' => resource.type, 'data-resource-solutions' => '||' + (resource.solutions ? resource.solutions.join('||') : '') + '||' }
                - if resource.image
                  = image_tag resource.image
                .animation-content
                  %h3.resource-tile-title
                    = resource.title
                  %span.resource-tile-type
                    = resource.type
                  - if resource.teaser
                    %p.resource-tile-teaser
                      = resource.teaser
